/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #647aff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4e66f8;
}

/* your styles go here */

.header-utama {
    background-image: url('../img/photo/photo-1426122402199-be02db90eb90.jpg');
    background-size: cover;
}

/* .card-kelas{
    width: 25%;
} */

.avatar-profile {
    display: inline-block;
    width: 25% !important;
    position: relative;
    text-align: center;
    border: 2px solid #dee2e6;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
    line-height: 3rem;
}

.card-testi {
    width: 200% !important;
    margin-left: 20%;
    /* height: 100px !important; */
}

/* owl carousel */

.owl-nav {
    position: absolute;
    top: -3rem;
    right: 0;
    ;
}

.owl-nav button {
    font-size: 30px;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(94, 66, 85, 0.1);
    box-shadow: 0px 5px 20px 0px rgba(94, 66, 85, 0.1);
    border-radius: 50%;
    margin: 0 auto;
    background-color: #4e66f8 !important;
    color: #fff !important;
    width: 35px;
    height: 35px;
    line-height: 70px;

}

.owl-nav button:hover {
    -webkit-box-shadow: 0px 12px 20px 0px rgba(117, 144, 240, 0.4);
    box-shadow: 0px 12px 20px 0px rgba(117, 137, 240, 0.4);
    background: linear-gradient(55deg, rgb(117, 152, 240) 0%, rgb(145, 145, 255) 100%);
    color: #fff
}

.owl-nav .owl-prev {
    margin-right: 25px;
}

.owl-nav .owl-prev {
    margin-left: 25px;
}

.scrool {
    opacity: 0;
}

.visible {
    opacity: 1;
}

@media (min-width: 992px) {
    .login-container {
        background: linear-gradient(100deg, #fff7f7 59%, #ffefe6 41%);
        width: 100vw;
        height: 100vh;
    }
}

.page-login {
    height: 100vh;
}

.page-login .card {
    -webkit-box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    -webkit-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
    text-decoration: none;
}

.page-login .card:hover {
    /* -webkit-transform: translateY(-5px) scale(1.005) translateZ(0); */
    /* transform: translateY(-5px) scale(1.005) translateZ(0); */
    -webkit-box-shadow: 0 18px 30px rgba(0, 0, 0, 0.11),
        0 20px 44px var(--box-shadow-color);
    box-shadow: 0 18px 30px rgba(0, 0, 0, 0.11),
        0 20px 44px var(--box-shadow-color);
}

.btn-login {
    background-color: #ff4800;
    color: #ffffff;
}

.btn-login:hover {
    background-color: #ff5f1f;
    color: #ffffff;
}

.section-left h1 {
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 50px;
    text-align: left;
    color: #071c4d;
}

.section-rght a {
    font-family: Assistant;
    font-weight: 300;
    text-decoration: underline;
    font-size: 16px;
    text-align: center;
    color: #bfbfbf;
}

/*# sourceMappingURL=main.css.map */

/* */

.text-item {
    color: #071C4D;
}

.btn-navbar {
    font-size: 11px;
    color: #ffffff !important;
    border-radius: 0;
    margin-top: -20px !important;
    margin-bottom: -20px !important;
    margin-right: -30px !important;
    padding-top: 34px;
    padding-bottom: 20px;
}

.btn-custom {
    background-color: #071C4D;
}

.btn-custom:hover {
    background-color: #1E3771;
}


/* success */
.navbar-brand img {
    max-height: 40px;
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -17px !important;
    height: 70px;
    border-radius: 0;
}

.section-success {
    height: 90vh;
}

.section-success h1 {
    margin-top: 10px;
    font-weight: 600;
    font-size: 26px;
    color: #071C4D;
}

.section-success p {
    font-weight: 600;
    font-size: 18px;
    color: #223e7e;
}

.section-success .btn-home-page {
    border-radius: 4px;
    background-color: #071C4D;
    color: #fff;
}

.section-success .btn-home-page:hover {
    background-color: #1E3771;
    color: #fff;
}


.section-success .btn-cart-page {
    background-color: #ff4800;
    color: #ffffff;
}

.section-success .btn-cart-page:hover {
    background-color: #ff5f1f;
    color: #ffffff;
}

h2.testi {
    position: relative;
}

h2.testi::after {
    content: "";
    width: 130px;
    position: absolute;
    margin: 0 auto;
    height: 3px;
    background: #FFC107;
    left: 0;
    right: 0;
    bottom: -10px;
}

.carousel-inner .carousel-item .img-box {
    width: 135px;
    height: 135px;
}

.carousel-control-prev {
    left: -100px;
}

.carousel-control-next {
    right: -100px;
}

.carousel-indicators {
    top: 320px;
}

@media (min-width: 320px) and (max-width: 640px) {
    .carousel-inner .carousel-item p {
        font-size: 14px;
    }

    .carousel-control-prev {
        left: -40px;
    }

    .carousel-control-next {
        right: -40px;
    }

    .carousel-indicators {
        top: 400px;
    }
}
